<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us - BULL - Credit</title>
  <link rel="icon" type="image/x-icon" href="/static/images/bull logo.jpeg">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="aboutUs">

    <div class="header">
      <div class="logo">
        <a href="../index">
          <img src="/static/images/usfwhitelogo.png" alt="logo">
        </a>     
      </div>
      <div class="header_elements">
        <div class="header_element1">
          <a class="navbar_link_style" href="../credit_score">
            Credit Score Check
          </a>
        </div>
        <div class="header_element2">
          <a class="navbar_link_style" href="../login">
            User
          </a>
        </div>
      </div>
    </div>

    <div class="aboutUS_content">
      <div class="aboutUs_part1">
        <h1>About us</h1>
      </div>
      <div class="aboutUs_part2">

        <div class="team_member">
          <div class="team_member_image">
            <img src="/static/images/srikanth.jpg" alt="srikanth">
          </div>
          <div class="team_member_text1">
            Uma Srikanth Reddy Koduru
          </div>
          <div class="team_member_text2">
            U ID : U94125452 <br>
            I have finished creating the HTML structure for the index page. Moreover, I dedicated time to developing the JavaScript code for the login page with my team mate. Additionally, I have integrated the Chart.js library into the chart page.
          </div>
        </div>

        <div class="team_member">
          <div class="team_member_image">
            <img src="/static/images/varun.jpg" alt="varun">
          </div>
          <div class="team_member_text1">
            Varun Teja Kolluru
          </div>
          <div class="team_member_text2">
            U ID : U41907597 <br>
            I have 6 years of IT experience working as a SAP consultant. I have worked on SAP ABAP, OOPS ABAP, SAP ODATA, SAP UI5 and Fiori modules. Along with this techincal skills , I have good knowledge on SAP Functional exposure. I have worked in teams as a team member and team leader. Experince on working on agile models.<br>

I took the project brief seriously and focused on making the website as interactive and attractive as possible. To achieve this, I used a combination of CSS and JavaScript frameworks to create engaging animations, transitions, and responsive designs that would enhance the user experience. I also made sure to incorporate user feedback and iterative testing into my design process, so that the end product would meet the needs of the target audience.<br>

In terms of leveraging prior investments, I reviewed my work from Assignment 1 and identified areas where I could improve upon my initial design. For example, I incorporated more advanced CSS features and optimized my code for faster load times for login and Home pages. Added more CSS classes for input fields and buttons for login page to improve more look and feel. Additionally, I worked collaboratively with my team members to share ideas and provide feedback, ensuring that we were all contributing to a high-quality final product.<br>

Overall, my contribution to this project was focused on creating a visually appealing, user-friendly website that utilized advanced CSS and JavaScript frameworks while building upon my previous work from Assignment 1.
          </div>
        </div>
        <div class="team_member">
          <div class="team_member_image">
            <img src="/static/images/nag.jpeg" alt="nagarjuna">
          </div>
          <div class="team_member_text1">
            Nagarjuna Gummalla
          </div>
          <div class="team_member_text2">
            U ID : U68845516  <br>
            I have 1 years of IT experince in working as a Data analyst with Covantech. Used automated tools to extract data from primary and secondary sources. Removed corrupted data and fixing coding errors and related problems. Performed analysis to assess the quality and meaning of data.When asked about my contribution to the project, I can explain that my primary focus was to make the website as interactive and attractive as possible using CSS and JavaScript frameworks.<br> I worked on the visual aspects of the website, selecting appropriate color schemes, fonts, and layout styles to create an engaging user experience.I also made sure to incorporate advanced features and functionalities to make the website more interactive, such as incorporating animation effects and user-friendly navigation. I reviewed and revised my work from Assignment 1 to ensure that I was able to leverage prior investments in the project and build upon my skills in using more advanced technologies.
As part of the project, I also collaborated with other team members to ensure that our website had a cohesive and consistent look and feel. We shared ideas and feedback, and I provided support to others when needed.
          </div>
        </div>

        <div class="team_member">
          <div class="team_member_image">
            <img src="/static/images/lokesh.jpeg" alt="lokesh">
          </div>
          <div class="team_member_text1">
            Lokesh Reddy Pappu
          </div>
          <div class="team_member_text2">
            U ID : U77470442 <br>
            I have 1 year of experience working as Programmer Analyst. I worked on Salesforce, UFT Automation.  also have a few projects to my credit. I worked on ‘Machine Translation from Tamil to Telugu Text’ that integrated tools like Tensorflow, NLTK, Keras, etc. The second project had me work on ‘Online Examination System’ that would provide efficiency in the examination process. This project ran on these softwares namely: NLP, Microsoft.NET Framework and Microsoft SQL Server.<br>
I have performed extensive research on Machine Learning to keep myself alert of the current trends in the industry and have successfully published a research paper titled ‘Handwritten Digit Recognition Using Machine Learning’. My work gained immense recognition as it was published by the International Journal of Research in Engineering, Science and Management that was commended by many. Once I finish the Master’s program and am certified with the degree, I would like to be employed in a company that is focused on Business Analytics and Deep Learning."For this project, I was responsible for developing an interactive and attractive website using CSS and JavaScript frameworks of my choice. I worked to create a visually appealing website with smooth transitions and user-friendly interfaces to achieve the project objectives.<br>

I leveraged my prior investments from Assignment 1 and revised my work to improve the website using more advanced technologies. I also tested and debugged my code to ensure the high-quality output of the final product.

Overall, my contribution to the project was in designing and developing the website to meet the project requirements while incorporating my creativity and expertise in web development."
          </div>
        </div>
        
      </div>
    </div>

  </div>  
</body>
</html>