<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Credit Score - BULL - Credit</title>
  <link rel="icon" type="image/x-icon" href="/static/images/bull logo.jpeg">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="credit_score">

    <div class="header">
      <div class="logo">
        <a href="../index">
          <img src="/static/images/south-fla.svg" alt="logo">
        </a>
      </div>
      <div class="header_elements">
        <div class="header_element1">
          Credit Score Check
        </div>
        <div class="header_element2">
          <a class="navbar_link_style" href="../login">
            User
          </a>
        </div>
        <div class="header_element3">
          <a class="navbar_link_style" href="../about_us">
            About Us
          </a>
        </div>
      </div>
    </div>

    <div class="creditScore_body">
      <div class="creditScore_body_left">
        <div class="creditScore_text1">
          find your credit <br> score. for free.
        </div>
        <div class="creditScore_text2">
          check your latest score instantly and find out <br> if you're good for your money
        </div>
        <div class="creditScore_button">
          <button>
            <a class="navbar_link_style" href="../chart">
              Check credit score
            </a> 
          </button>
        </div>        
      </div>
      <div class="creditScore_body_right">
        <form>
          <label for="name">Full Name</label>
          <input type="text" name="name" id="name"><br>
          <label for="account">Account Number</label>
          <input type="number" name="account" id="account"><br>      
        </form>
      </div>
    </div>
    
  </div>
</body>

</html>