<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BULL - Credit</title>
  <link rel="icon" type="image/x-icon" href="/static/images/bull logo.jpeg">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/index.js"></script>
  <script src="https://kit.fontawesome.com/026b7b5eee.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="home">
    <div class="part1">
      <div class="header">
        <div class="logo">
          <img src="/static/images/usfwhitelogo.png" alt="logo" >
        </div>
        <div class="header_elements">
          <div class="header_element1">
            <a class="navbar_link_style" href="../credit_score">
              Credit Score Check
            </a>            
          </div>
          <div class="header_element2">
            <a class="navbar_link_style" href="#" id="uid">
              id
            </a>        
          </div>
          <div class="header_element3">
            <a class="navbar_link_style" href="../about_us">
              About Us
            </a>
          </div>
        </div>      
      </div>
      <div class="header_text">
        <div class="part1_text1">
          rewards for paying <br> with bull bucks.
        </div>
        <div class="part1_text2">
           Join now and win rewards and cashbacks everyday
        </div>
        <div class="part1_button">
          <button>
            Download BULL-Credit
          </button>
        </div>
      </div>
    </div>

    <div class="part2">
        <div class="phone_images">
          <img class="phone1" src="/static/images/rewardspiccrop.webp" alt="phone1">
        </div>


        <div style="height: 295px;width:50%">
        <p style=" color: aliceblue;  font-size: 1.2rem;margin-top: 40%; ">
          "Access a wide variety of products by installing our Bull-Credit app. The all-in-one place for all your rewards and finances tracking. Shop 
              your favourite product and get notified for upcoming sales and discounts.
              Get exclusive offers and cashbacks by referring your friends."
    
    </p>
              
   </div>
    </div>

    <div class="part3">
      <div class="part3_content">
       <div class="part3_text1">
            feel special <br>
            more often.
          </div>
          <div class="part3_text2">
            exclusive rewards for paying your bills
          </div>
          <div class="part3_text3">
            every time you pay your bills on BULL-Credit, you receive BULL-Credit coins. <br> you can use these to win exclusive
            rewards
            or
            get special access to curated products and experiences. <br>
            on BULL-Credit, good begets good.
          </div>       
        <div class="part3_button">
          <button>
            Explore rewards
          </button>
        </div>
      </div>
    </div>

    <div class="part4">
      <!-- this div is used in the styles.css -->
    </div>

    <div class="part5">
      <div class="part5_icons">
        <i class="footer-logo fa-brands fa-twitter fa-3x"></i>
        <i class="footer-logo fa-brands fa-facebook-f fa-3x"></i>
        <i class="footer-logo fa-brands fa-instagram fa-3x"></i>
        <i class="footer-logo fa-solid fa-envelope fa-3x"></i>
      </div>
      <div class="part5_copyright">
        <p>© BULL-Credit 2023-2024</p>
      </div>     
    </div>

  </div>
</body>
</html>
